.video-title {
  position: relative;
  background-color: rgb(144, 84, 147);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 1.8em;
  border-radius: 5px;
}

.video-board {
  width: 100%;
  height: 700px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  display: inline-block;
}

.video-inner {
  display: inline-block;
  width: 100%;
}

.subtitle {
  position: relative;
  box-sizing: border-box;
  width: 80%;
  font-size: 1.8em;
  text-align: center;
  display: inline-block;
}
